.catalog-page

	&__loader
		display none
		&_show
			position fixed
			z-index 99999
			left 0
			top 0
			display block
			width 100%
			height 100%
			background-color rgba($black, .4)

	&__wrap
		+desktop()
			min-height 100%

	&__menu
		+desktop()
			position sticky
			z-index 10
			top 65px

	&__main
		padding 30px 10px 0
		+desktop()
			padding 30px 35px 0

	&__header
		+desktop()
			padding 0 15px 30px
		&-el
			display block
			padding-bottom 10px
			+desktop()
				display inline-block
				padding-bottom 0
			&_link
				padding-right 16px
				text-decoration none
				+desktop()
					&:after
						content "·"
						position relative
						right -10px
						display inline-block
						fontSize(35, 45)
						color $blueDark
	&__seo
		font-family $mulReg
		white-space pre-line;
		+desktop()
			margin 0 10px
			padding 0px 5px
		background-color #fffdea
		box-shadow 0px 2px 2px rgba(0,0,0,0.13)
		&-description
			fontSize(16, 22)
			white-space pre-line;
		&-collapsible
			fontSize(16, 22)
			background-color #fffdea
			color $blueDark
			cursor pointer
			border none
			text-align left
			outline none
		&-details
			fontSize(16, 22)
			overflow hidden
			display none
	&__grid
		font-size 0

		&-el
			padding-bottom 30px
			+desktop()
				display inline-block
				width 33.3%
				padding 0 15px 40px 15px
				vertical-align top
				&_promo
					width 100%
					overflow-x hidden
			// +w1200()
			// 	width 33.3%
			// 	&_promo
			// 		width 100%
			&_incut
				display none
				+desktop()
					display inline-block

