.text-page
	display flex
	flex-direction column-reverse
	flex-wrap wrap
	background $bg
	// overflow hidden
	+desktop()
		flex-wrap nowrap
		flex-direction row
		margin-bottom 60px

	&__wrap
		display flex
		flex-direction column
		+desktop()
			flex-basis 75%
			flex 1

	&__content
		padding 45px 16px 10px
		margin 0 auto
		+desktop()
			width 100%
			max-width 1000px
			padding 30px

	&__image
		margin 0 0 30px 0
		max-width 1000px
		width 100%
		display block
		border-radius 6px
		box-shadow 0 2px 6px rgba(100, 80, 0, .3)

	& .header
		max-width 1000px
		&_h2
			margin-top 40px

	&__paragraph
		font-family $trola
		line-height 1.55
		font-size 20px
		margin 20px 0 0
		max-width 1000px
		&:last-child
			+dekstop()
				margin-bottom 60px

	& .sidebar
		background none
		box-shadow none
		margin 10px 0 10px
		+desktop()
			display block
			height auto
			flex-basis 25%
			z-index 2
