include ../icon/icon

mixin purchase(data)

	- data = data || {}

	+b.purchase(
	).js-purchase
		+e.form.FORM(
			action= data.action
		).js-purchase-form
			+e.top
				+e.date= data.date
				+e.repeat.js-purchase-repeat
					+e.repeat-icon
						+icon({icon: "undo"})
					+e.repeat-text Повторить заказ
			+e.wrap

				+e.img-block
					each el in data.img
						+e.img
							img(src= el, alt="").img

				+e.list
					+e.list-wrap
						each el in data.list
							+e.list-el
								+e.list-name= el.name
								+e.list-spacer
								+e.list-amount= el.amount
					if data.rest
						+e.list-rest.js-purchase-more= data.rest.text

				+e.sum= "≈"+ data.sum + " ₽"
