.bonuses

	&__desc
		padding 15px 0 20px
		font-family $trola
		fontSize(15, 17)
		color $black
		+desktop()
			fontSize(20, 24)

	&__data
		display flex
		flex-direction row
		padding-bottom 20px
		+desktop()
			display inline-flex
			width 50%
			padding-bottom 0

		&-el
			padding-right 30px
			color $black
			&:last-child
				padding-right 0
			+desktop()
				padding-right 50px
			&_red
				color $red

		&-text
			font-family $mulReg
			fontSize(14, 19)

		&-data
			font-family $trola
			fontSize(35, 36)

	&__btn
		+desktop()
			float right
			width 50%
			padding-top 12px
			text-align right
