.recipe-page

	&__wrap
		+desktop()
			display flex
			flex-direction row
			align-items stretch
			min-height 100%

	// &__side
	// 	+desktop()
	// 		flex-basis 25%
	// 		box-shadow 2px 2px 2px 0 #ebe8c8
	// 		background-color #fffcda

	&__content
		// max-width 1080px
		margin 0 auto

	&__main
		padding 23px 0px 0
		+desktop()
			// flex-basis 75%
			padding 23px 0px 0

	&__general
		display flex
		flex-direction column-reverse

		padding 0 10px
		+desktop()
			flex-direction row
			flex-basis 75%
			padding 0 20px

		&-main
			flex 1

			padding-top 7px

			+desktop()
				padding-right 25px

		&-card
			position relative

			+desktop()
				flex 0 0 340px
	&__title
		padding 0 16px

		p
			display block
			font-family $trola
			fontSize(20, 28)
			color $black
			margin-bottom 5px

		span
			display block
			font-family $mulMed
			fontSize(35, 42)
			color $black

	&__card
		display block
		max-width 340px
		margin-top 20px
		padding 15px 16px 25px
		margin-bottom 20px
		border 1px solid rgba(248, 197, 1, 0.1)
		border-radius 3px
		text-decoration none
		background rgba(248, 197, 1, 0.05)
		+desktop()
			max-width: 100%
			width 100%
			margin-bottom 0
		&:after,
		&:before
			content ''
			display table

		&-head
			display: block
			padding-bottom: 12px
			font-family $trola
			font-size: 20px
			color: #000

		&-product
			padding 20px 0 30px

		&-more
			font-family $trola
			fontSize(20, 28)

			&-link
				display inline-block
				text-decoration none
				color $blueDark
				&:hover
					color $red
				&:after
					content ",  "
					display inline-block
					width 10px
					color $black
				&:last-child:after
					content ""

		&-quantity
			display flex
			flex-wrap wrap
			margin-bottom 27px

			&-price
				flex 1
				padding-bottom 4px

			&-counter
				display flex
				align-items flex-end
				margin-top 15px

		&-button
			margin-bottom 13px

		&-legal-bill
			text-align center

			&-href
				display inline-block
				font-family $mulReg
				font-size 14px
				line-height 19px
				font-weight bold
				color $violet
				text-decoration none

	&__img
		position: absolute
		display block
		width 100%
		height auto
		transition: all 0.3s ease;
		top: 0
		left: 0
		z-index: 0
		&.active
			position: relative
			top: initial
			left: initial
			opacity: 1
			z-index: 1

		&-wrap
			position: relative
			margin-bottom 32px
			clear both
			display block
			border-radius 3px
			overflow hidden
			+desktop()
				border-radius 5px

	&__img-list
		position: absolute
		left: 20px
		bottom: 20px
		display: flex
		z-index: 2
	&__img-item
		max-width: 75px
		max-height: 50px
		margin-left: 7px;
		margin-right: 7px
		border 2px solid #fff
		cursor pointer
		transition: all 0.3s ease;
		&:hover
			border-color #ffd93f
		&.active
			border-color #ffd93f
		img
			display: block
			max-width: 100%
			max-height: 100%
	&__paragraph
		font-family $trola
		line-height 1.55
		font-size 20px
		margin 18px 0 0
		max-width 1000px
		&:last-child
			margin-bottom 60px

	&__info
		display flex
		flex-direction column
		margin-top 50px
		margin-bottom 50px
		padding-top 18px
		border-top 2px solid #000

		+desktop()
			flex-direction row

		&-text
			padding-top 5px
			margin-bottom 20px

			+desktop()
				width: 40%
				margin-bottom 0


			&-header
				font-family $mulBold
				fontSize(18, 22)
				font-weight 500
				+w1200()
					fontSize(20, 24)
		&-content
			display flex
			flex-direction column
			flex 1

			&-text
				font-family $trola
				fontSize(20, 32)

			&-item
				position relative
				display flex
				justify-content space-between
				font-family $trola
				fontSize(18, 28)
				overflow hidden
				+w1200()
					fontSize(20, 32)

				&:before
					content ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "
					position absolute
					bottom 12px
					width 0
					height 2px
					white-space nowrap
					z-index -1
					font-size 11px
					line-height 2px
					letter-spacing 5px
					color rgba(0, 0, 0, 0.45)

				&-header
					padding-right 5px
					background rgb(251, 250, 240)

				&-description
					padding-left 5px
					text-align right
					background rgb(251, 250, 240)

	&__divider
		position relative
		text-align center
		user-select none
		margin-bottom 23px

		&-header
			display inline-block
			padding 10px 25px
			z-index 3
			font-family $mulMed
			fontSize(24, 29)
			background rgb(251, 250, 240)

			&:before
				content ''
				display block
				position absolute
				bottom 20px
				left 50%
				transform translateX(-50%)
				width 100%
				height 2px
				background #F1CB0D
				z-index -1

	&__recommended
		margin 0 0 40px
		font-size 0

		+desktop()
			margin 0 10px 40px
			padding 0 10px

		+desktop()
			padding 0

		&-el
			display inline-block
			width 50%
			padding 0 15px 30px 15px
			vertical-align top
	&__step-title
		font-family $mulBold
		fontSize(18, 22)
		font-weight 500
		+w1200()
			fontSize(20, 24)
	&__property-list
		display: flex
		flex-wrap wrap
		padding-bottom: 20px;
		+desktop()
			padding-top: 20px
			padding-bottom: 40px;
	&__property
		width: calc(100% / 3)
		text-align: center
		span
			display: block
			font-family: $trolaHeavy;
			font-size: 16px
			+w480()
				font-size: 14px
			+w1200()
				font-size: 20px
		&-icon-time
			display: block
			margin: 0 auto
			width: 38px
			height: 55px
			+w1200()
				width: 42px
		&-icon-portions
			display: block
			margin: 0 auto
			width: 50px
			height: 55px
			+w1200()
				width: 57px
		&-icon-ingredients
			display: block
			margin: 0 auto
			width: 41px
			height: 55px
			+w1200()
				width: 51px