extends core/layout

include ../blocks/button/button
include ../blocks/header/header
include ../blocks/head/head
include ../blocks/footer/footer
include ../blocks/hero/hero
include ../blocks/blog-page/blog-page

block variable
	- bodyClass= 'page' 

block title
	title Блог

block body
	- data = getData('blog')
	- home = true

	+head(data.head)()

	+hero(data.hero, home)()
	+e.posts
		each post in data.posts
			+blog-page(post, home)()

	+footer(data.footer)()
