extends core/layout

include ../blocks/head/head
include ../blocks/footer/footer
include ../blocks/msg-page/msg-page

block variable
	- bodyClass= 'page' 

block title
	title Страница сообщения

block body
	- data = getData('pass-changed')
	- home = true

	+head(data.head)

	+msg-page(data.page)

	+footer(data.footer)
