extends core/layout

include ../blocks/head/head
include ../blocks/footer/footer
include ../blocks/recipes/recipes
include ../blocks/recipe/recipe

block variable
	- bodyClass= 'page' 

block title
	title Рецепты

block body
	- data = getData('recipe')

	+head(data.head).page__head

	+recipes(data.page)

	+footer(data.footer).page__footer
