.cart-page

	&__wrap
		+desktop()
			display flex
			flex-direction row

	&__top
		padding 20px 0
		+desktop()
			padding 30px 0

		&-title
			display inline-block

		&-btn
			float right

	&__items
		flex-basis 50%
		position relative
		z-index 1
		box-shadow 0 2px 2px 0 #ebe8c8
		padding 0 10px 0 10px
		background-color #fbfaf0
		+desktop()
			flex-basis 50%
			box-shadow 2px 0 2px 0 #ebe8c8
			padding 0 35px 0 35px

	&__item
		padding-bottom 32px

	&__offers
		&-title
			display none
			+desktop()
				display block
				padding 20px 0

	&__offer
		padding-bottom 32px

	&__form
		flex-basis 50%
		padding 10px 10px 10px 10px
		background-color #fffcda
		+desktop()
			flex-basis 50%
			padding 0 35px 0 35px

		&-title
			padding 20px 0
			+desktop()
				padding 30px 0

		&-delivery
			padding 15px 0
			font-family $trola
			fontSize(15, 17)
			color $black

		&-items
			+desktop()
				display flex
				flex-direction row
				flex-wrap wrap

		&-item
		&-addr
		&-date
			padding-bottom 20px
			+desktop()
				max-width 50%
				flex-basis 50%
				padding-right 0
		&-date
			+desktop()
				padding-left 10px
		&-item
			+desktop()
				&:nth-child(2n+1)
					padding-left 10px
					padding-right 0

			& .suggestions-promo
				display none !important

		&-add
			&-el
				padding-bottom 14px
				&:last-child
					padding-bottom 0
				+desktop()
					padding-bottom 0

		&-bonuses
			padding 30px 0

		&-payment
			margin-top 30px
			padding 26px 0
			border-top 2px solid #eae7c7
			text-align center

			&-img
				display inline-block
				width auto
				height 13px
				padding 0 5px
				vertical-align top
				&_tall
					height 18px

	&__order
		display block
