ms()
	@supports (-ms-ime-align:auto)
		{block}

.frontpage__catalog
	list-style: none
	width: 1290px
	margin-left: 0px
	margin-right: 0px
	display: block
	padding-top: 300px
	padding-bottom: 80px
	position: relative
	left: 50%
	top: 0
	transform: translate(-50%, 0%)
	z-index: 1000
	overflow: hidden

	li
		transform: translateZ(1px)
		float: left
		position: relative

		a:hover ^[0]-title--black
			color: white !important

		img
			width: 100%
			height: auto
			display: block
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			z-index: 9

		& ^[0]-title
			position: absolute
			z-index: 10
			font-family: "MullerRegular", sans-serif
			font-size: 20px
			line-height: 20px
			text-align: left
			max-width: 200px
			color: #fff

			&--black
				color: #000

		&:nth-child(1)
			width: 650px
			height: 407px

			a
				-webkit-clip-path: url(#catalog-1)
				clip-path: url(#catalog-1)

				&:hover:after
					opacity: 1
					background-color: rgba(89, 214, 253, 0.6)
					+ms()
						background-color: transparent!important

			span
				top: 80px
				right: 10px

		&:nth-child(2)
			width: 643px
			height: 385px
			margin-left: -6px
			margin-top: 45px

			a
				-webkit-clip-path: url(#catalog-2)
				clip-path: url(#catalog-2)

				&:hover:after
					opacity: 1
					background-color: rgba(255, 192, 37, 0.6)
					+ms()
						background-color: transparent!important

			span
				top: 34px
				left: 60px

		&:nth-child(3)
			width: 598px
			height: 424px
			margin-top: -30px
			margin-left: 50px
			
			a
				-webkit-clip-path: url(#catalog-3)
				clip-path: url(#catalog-3)

				&:hover:after
					opacity: 1
					background-color: rgba(122, 199, 81, 0.6)
					+ms()
						background-color: transparent!important

			span
				right: 65px
				top: 35px

		&:nth-child(4)
			width: 599px
			height: 439px
			margin-left: -4px
			margin-top: -46px

			a
				-webkit-clip-path: url(#catalog-4)
				clip-path: url(#catalog-4)

				&:hover:after
					opacity: 1
					background-color: rgba(#F44336, 0.6)
					+ms()
						background-color: transparent!important

			span
				top: 51px
				left: 30px

		&:nth-child(5)
			width: 791px
			height: 344px
			margin-top: -170px
			margin-left: 314px

			a
				-webkit-clip-path: url(#catalog-5)
				clip-path: url(#catalog-5)

				&:hover:after
					opacity: 1
					background-color: rgba(#FFC107, 0.6)
					+ms()
						background-color: transparent!important

			span
				top: 120px
				left: 160px

		&:nth-child(6)
			width: 667px
			height: 311px
			margin-left: -84px
			margin-top: -65px

			a
				-webkit-clip-path: url(#catalog-6)
				clip-path: url(#catalog-6)

			span
				top: 121px
				right: 9px
				max-width: 120px

	&-item
		background-position: center center
		background-size: cover
		width: 100%
		height: 100%
		cursor: pointer
		display: block
		position: absolute

		&_milk
			background-image: url("../img/index/img1.jpg")
			+ms()
				background-image: url("../img/index/img1.png")

		&_cheese
			background-image: url("../img/index/img2.jpg")
			+ms()
				background-image: url("../img/index/img2.png")

		&_cosmetics
			background-image: url("../img/index/img3.jpg")
			+ms()
				background-image: url("../img/index/img3.png")

		&_sets
			background-image: url("../img/index/img4.jpg")
			+ms()
				background-image: url("../img/index/img4.png")

		&_desserts
			background-image: url("../img/index/img5.jpg")
			+ms()
				background-image: url("../img/index/img5.png")

		&:after
			content: ''
			display: block
			opacity: 1
			position: absolute
			top: 0
			left: 0
			bottom: 0
			right: 0
			width: 100%
			height: 100%
			z-index: 0
			background-color: rgba(0, 0, 0, 0)
			transition: background-color 0.5s ease-out
	
@media screen and (max-width: 1000px)
	.frontpage__catalog
		width: 100%;
		padding-bottom: 30px;
		padding-top: 40px !important
	
		& li ^[0]-title
			text-shadow 0 1px 3px rgba(black, .8)
			position: relative
			bottom: auto !important
			right: auto !important
			left: auto !important
			top auto !important
			&--black
				color white
	
		& li
			a
				padding-left: 13%
				height: 63vw

			span
				color: #fff

			&:nth-child(1)
			&:nth-child(2)
			&:nth-child(3)
			&:nth-child(4)
			&:nth-child(5)
				a
					-webkit-clip-path: url(#catalog-1)
					clip-path: url(#catalog-1)


			&
				width: 100% !important
				float: none
				height: 63vw !important
				margin: 0 !important
				margin-bottom: 20px !important

		&-item
			display: -ms-flexbox
			display: flex
			-ms-flex-align: end
			align-items: flex-end
			-ms-flex-pack: start
			justify-content: flex-start
			padding: 20px

