.blog-page
	font-size 20px
	line-height 1.55
	padding 50px 0 0
	max-width 1200px
	margin 0 auto
	&_single
		padding-bottom 75px

	&__wrap
		margin 0 auto
		padding 0 16px
		+desktop()
			padding 0 35px
			max-width 1070px

	&__header 
		display block
		color $blueDark
		font-family $mulMed
		text-decoration none
		font-size 35px
		line-height 1.2
		margin 0 0 23px 0
		&:hover
			color $red
		&_no-link
			color $black
			&:hover
				color $black

	&__paragraph
		font-family $trola
		margin 0 0 1em 0

	&__picture
		margin 30px 0 40px
		&_small
			text-align center

	&__caption
		margin 20px 0 0
		opacity .3
		font-family $trola

	&__image
		display block
		max-width 100%
		margin 0 auto

	&__footer
		font-family $mulReg
		font-size 16px
		margin 30px 0 0
		display flex
		flex-wrap wrap
		align-items baseline
		& .button
			margin 0 40px 16px 0
			+desktop()
				margin 0 40px 0 0

	&__meta
		display flex
		flex-wrap wrap
		& > *
			margin-top 8px

	&__date
		color rgba(0, 0, 0, .6)
		margin-right 20px

	&__tag
		color $blueDark
		margin-right 20px
		text-decoration none
		&:last-child
			margin-right 40px
		&:hover
			color $red

	&__likely
		color rgba(0, 0, 0, .6)
		display flex
		& .likely
			margin-left 15px

	& .header
		margin 50px 0 10px 0

	&:last-child
		padding-bottom 75px

	& .comment
		box-shadow 0 2px 2px 0 rgba(0, 0, 0, 0.13)
		border-radius 6px
		float left
		clear both
		margin 15px 0
		padding 20px 20px 24px
		background $white
		font-family $mulReg
		font-size 16px
		line-height 1.4
		&__meta
			opacity .3
			display flex
			flex-wrap wrap
			margin 0 0 12px 0
		&__author
			margin 0 20px 0 0

	&__add-comment
		clear both
		background $white
		border-radius 6px
		display flex
		flex-wrap wrap
		border 1px solid #fff
		&:focus-within
			border 1px solid rgba(58,61,112,0.4)
		& textarea
			font-family $mulReg
			background transparent
			font-size 16px
			min-width 320px
			width 100%
			height calc(1.4em + 40px)
			line-height 1.4
			border none
			outline none
			resize none
			-webkit-appearance none
			transition .2s height ease-out
			padding 20px
			+desktop()
				width calc(100% - 120px)
			&:focus
				height calc(11.2em + 40px)
			&::placeholder
				color $blueDark

		& .button
			margin 10px 10px 12px auto

	&__product-wrap
		padding 0 16px 40px 16px
		+desktop()
			float left
			width 542px
			padding 36px 50px 10px 0
