include ../product/product
include ../button/button

mixin category(data)

	- data = data || {}

	+b.category(
		class= "_" + data.type || "blue"
	).js-category
		+e.name
			+e.name-wrap= data.name
		+e.products
			+e.products-wrap
				each el in data.products
					+e.product
						+product(el)
			if data.products.length > 3
				+e.show-all
					+button({text: "Показать всё"}).js-category-btn